<div class="wrapper">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="../../assets/images/calendrier.png" alt="AdminLTELogo" height="80" width="80">
      </div>


    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/employer" class="nav-link">Employers</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
        
            <li class="nav-item dropdown">
                
            </li>
            
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" href="#" role="button">
                    <i class="fas fa-th-large"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="layout">
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="#" class="brand-link">
        <div class="app-logo">
          <i class="fas fa-clock"></i>
          <div class="logo-text">
              <h1>TimeTracker</h1>
          </div>
      </div>
      </a>
        <div class="sidebar">
            <div class="user-panel" style="display: flex; align-items: center; gap: 10px; background-color: transparent; text-align: center;">
                <div class="image" style="flex: 0 0 auto; text-align: center;">
                    <img src="../../assets/images/Profile.png" alt="User" style="width: 100px; height: 100px;">
                </div>
              <!--  <div style="flex: 1; text-align: left;"><p style="margin: 0; font-size: 1em; color: white; font-family: Arial, sans-serif;">{{ email }}</p>
                </div>-->
            </div>
            <nav class="mt-2">
              <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
                  <li class="nav-item">
                      <a routerLink="/Dashboard" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Dashboard')">
                          <i class="nav-icon fas fa-tachometer-alt"></i>
                          <B> <p>Tableau de bord</p></B>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a routerLink="/Employer" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Employer')">
                          <i class="fas fa-users nav-icon"></i>
                          <B><p> Employer</p></B>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a routerLink="/EmployerDetail" routerLinkActive="active" class="nav-link" (click)="reloadPage('/EmployerDetail')">
                          <i class="fas fa-users nav-icon"></i>
                          <B><p> Employer Details</p></B>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a routerLink="/Horaire" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Horaire')">
                        <i class="fas fa-calendar-alt nav-icon"></i> 
                          <B><p> Horaire de Travail</p></B>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a routerLink="/Pointage" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Pointage')">
                        <i class="fas fa-clock nav-icon"></i>
                          <B><p> Pointage</p></B>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a routerLink="/Rapport" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Rapport')">
                          <i class="fas fa-calendar-check nav-icon"></i>
                          <B><p>Rapport </p></B>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a routerLink="/Anomalie" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Anomalie')">
                        <i class="fas fa-exclamation-triangle nav-icon"></i>
                          <B><p> Anomalie</p></B>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a routerLink="/Calendrier" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Calendrier')">
                          <i class="fas fa-calendar-alt nav-icon"></i>
                          <B><p>Calendrier de Présences</p></B>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/Conge" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Conge')">
                      <i class="fas fa-plane nav-icon"></i>
                        <B><p>Congé</p></B>
                    </a>
                </li>
                <li class="nav-item" *ngIf="userRole === 'Super_Admin'" >
                  <a routerLink="/Admin" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Admin')">
                      <i class="fas fa-user-shield nav-icon"></i>
                      <B><p>Administrateur</p></B>
                  </a>
              </li>
              <li class="nav-item">
                  <a routerLink="/ChatBot" routerLinkActive="active" class="nav-link" (click)="reloadPage('/ChatBot')">
                      <i class="fas fa-robot nav-icon"></i>
                      <B><p>Chatbot</p></B>
                  </a>
              </li>
                  <li class="nav-item">
                      <a (click)="logout()" class="nav-link">
                          <i class="nav-icon fas fa-sign-out-alt"></i>
                          <B><p>Déconnexion</p></B>
                      </a>
                  </li>
              </ul>
          </nav>
        </div>
    </aside>

    <!-- Content Wrapper -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                      <div class="app-logo2">
                        <i class="fas fa-clock"></i>
                        <div class="logo-text">
                            <h1>TimeTracker <span>Pro</span></h1>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
            <!-- Main content -->
      <section class="content">
        <div class="container-fluid">

        <br>

        <div class="card shadow-lg p-3 bg-white rounded">
            <div class="card-header bg-primary text-white">
              <h4 class="mb-0">Liste des Pointages</h4>
            </div>
          
            <div class="card-body">
              <div class="d-flex mb-3">
                <input 
                  type="text" 
                  class="form-control me-2" 
                  placeholder="Rechercher une pointage.." 
                  [(ngModel)]="searchText"
                >
                <button class="btn btn-success me-2" (click)="exportToExcel()">
                  <i class="bi bi-file-earmark-excel"></i> Excel
                </button>
                <button class="btn btn-danger" (click)="exportToPDF()">
                  <i class="bi bi-file-earmark-pdf"></i> PDF
                </button>
              </div>
              <table  class="table table-hover table-bordered text-center align-middle">
                <thead class="table-dark">
                  <tr>
                    <th>ID</th>
                    <th>Employé</th>
                    <th>Date</th>
                    <th>Heure Entrée</th>
                    <th>Heure Sortie</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let pointage of filteredPointages| paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
                    <td>{{ pointage.id }}</td>
                    <td class="fw-bold text-primary">
                      {{ pointage.employe.nom }} {{ pointage.employe.prenom }}
                    </td>
                    <td>
                      <span class="badge bg-info text-dark">
                        {{ pointage.dateHeureEntree | date:'yyyy-MM-dd' }}
                      </span>
                    </td>
                    <td>
                      <span class="badge bg-success">
                        {{ pointage.dateHeureEntree | date:'HH:mm' }}
                      </span>
                    </td>
                    <td>
                      <span class="badge bg-danger" *ngIf="!pointage.dateHeureSortie">Non enregistré</span>
                      <span class="badge bg-secondary" *ngIf="pointage.dateHeureSortie">
                        {{ pointage.dateHeureSortie | date:'HH:mm' }}
                      </span>
                    </td>
                    <td>
                      <span [ngClass]="{
                        'badge bg-success': pointage.statut === 'Validé',
                        'badge bg-warning text-dark': pointage.statut === 'En attente',
                        'badge bg-danger': pointage.statut === 'Refusé'
                      }">
                        {{ pointage.statut }}
                      </span>
                    </td>
                    <td>
                      <button class="btn btn-outline-warning btn-sm mx-1" (click)="selectPointage(pointage)" data-bs-toggle="modal" data-bs-target="#editPointage">
                        <i class="bi bi-pencil-square fs-5"></i>
                      </button>
                      <button class="btn btn-outline-danger btn-sm mx-1" (click)="deletePointage(pointage)">
                        <i class="bi bi-trash fs-5"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
          
            </div>
            <pagination-controls 
            (pageChange)="page = $event" 
            previousLabel="Précédent" 
            nextLabel="Suivant">
          </pagination-controls>
          <label for="itemsPerPage">Éléments par page :</label>
          <select id="itemsPerPage" [(ngModel)]="itemsPerPage">
            <option *ngFor="let size of [5, 10, 15, 20]" [value]="size">{{ size }}</option>
          </select>   
          </div>
  
          
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
  </div>
    <div class="modal fade" id="editPointage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier les Informarmations d'un Pointage</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
      <div class="modal-body">
          <div class="modal-body">

                  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                      <div class="mb-3">
                      <label for="dateHeureEntree" class="form-label">Date et Heure d'Entree: *</label>
                      <input type="text" class="form-control" id="dateHeureEntree" [(ngModel)]="pointage.dateHeureEntree" name="dateHeureEntree" required readonly />
                      </div>

                      <div class="mb-3">
                      <label for="dateHeureSortie" class="form-label">Date Heure de Sortie</label>
                      <input type="text" class="form-control" id="dateHeureSortie" [(ngModel)]="pointage.dateHeureSortie" name="dateHeureSortie" required>
                      </div>
                      
                      <div class="mb-3">
                      <label for="type" class="form-label">type</label>
                      <select [(ngModel)]="pointage.statut" name="departement" class="form-control" required>
                          <option value="" disabled selected>Choisissez un statut</option>
                          <option *ngFor="let st of Status" [value]="st">{{ st }}</option>
                      </select>
                      
                      </div>
                  
                      <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Modifier Pointage</button>
                      </div>
                  </form>

            </div>
            
      
                  
       </div>
      
            </div>
        </div>
      </div> 
    

</div>

