<div class="wrapper">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="../../assets/images/calendrier.png" alt="AdminLTELogo" height="80" width="80">
    </div>
  
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
              <a href="/home" class="nav-link">Home</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
              <a href="/employer" class="nav-link">Employers</a>
          </li>
      </ul>
  
      <ul class="navbar-nav ml-auto">
      
          <li class="nav-item dropdown">
              
          </li>
          
          <li class="nav-item">
              <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                  <i class="fas fa-expand-arrows-alt"></i>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-widget="control-sidebar" href="#" role="button">
                  <i class="fas fa-th-large"></i>
              </a>
          </li>
      </ul>
  </nav>
  <div class="layout">
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="#" class="brand-link">
        <div class="app-logo">
          <i class="fas fa-clock"></i>
          <div class="logo-text">
              <h1>TimeTracker </h1>
          </div>
      </div>
      </a>
      <div class="sidebar">
        <div class="user-panel" style="display: flex; align-items: center; gap: 10px; background-color: transparent; text-align: center;">
            <div class="image" style="flex: 0 0 auto; text-align: center;">
                <img src="../../assets/images/Profile.png" alt="User" style="width: 100px; height: 100px;">
            </div>
          <!--  <div style="flex: 1; text-align: left;"><p style="margin: 0; font-size: 1em; color: white; font-family: Arial, sans-serif;">{{ email }}</p>
            </div>-->
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
                <li class="nav-item">
                    <a routerLink="/Dashboard" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Dashboard')">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <B> <p>Tableau de bord</p></B>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/Employer" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Employer')">
                        <i class="fas fa-users nav-icon"></i>
                        <B><p> Employer</p></B>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/EmployerDetail" routerLinkActive="active" class="nav-link" (click)="reloadPage('/EmployerDetail')">
                        <i class="fas fa-users nav-icon"></i>
                        <B><p> Employer Details</p></B>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/Horaire" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Horaire')">
                      <i class="fas fa-calendar-alt nav-icon"></i> 
                        <B><p> Horaire de Travail</p></B>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/Pointage" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Pointage')">
                      <i class="fas fa-clock nav-icon"></i>
                        <B><p> Pointage</p></B>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/Rapport" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Rapport')">
                        <i class="fas fa-calendar-check nav-icon"></i>
                        <B><p>Rapport </p></B>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/Anomalie" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Anomalie')">
                      <i class="fas fa-exclamation-triangle nav-icon"></i>
                        <B><p> Anomalie</p></B>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/Calendrier" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Calendrier')">
                        <i class="fas fa-calendar-alt nav-icon"></i>
                        <B><p>Calendrier de Présences</p></B>
                    </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/Conge" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Conge')">
                    <i class="fas fa-plane nav-icon"></i>
                      <B><p>Congé</p></B>
                  </a>
              </li>
              <li class="nav-item" *ngIf="userRole === 'Super_Admin'" >
                <a routerLink="/Admin" routerLinkActive="active" class="nav-link" (click)="reloadPage('/Admin')">
                    <i class="fas fa-user-shield nav-icon"></i>
                    <B><p>Administrateur</p></B>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/ChatBot" routerLinkActive="active" class="nav-link" (click)="reloadPage('/ChatBot')">
                    <i class="fas fa-robot nav-icon"></i>
                    <B><p>Chatbot</p></B>
                </a>
            </li>
                <li class="nav-item">
                    <a (click)="logout()" class="nav-link">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <B><p>Déconnexion</p></B>
                    </a>
                </li>
            </ul>
        </nav>
      </div>
  </aside>
  
  
  
  
    <!-- Content Wrapper -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <div class="app-logo2">
                            <i class="fas fa-clock"></i>
                            <div class="logo-text">
                                <h1>TimeTracker <span>Pro</span></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
      
  
        <div class="filter-container bg-white">
            <!-- Sélecteur Année -->
            <mat-form-field appearance="outline" class="custom-mat-field">
              <mat-label>Année</mat-label>
              <mat-select [(ngModel)]="selectedYear">
                <mat-option *ngFor="let year of [2024, 2025, 2026]" [value]="year">{{ year }}</mat-option>
              </mat-select>
            </mat-form-field>
          
            <!-- Sélecteur Mois -->
            <mat-form-field appearance="outline" class="custom-mat-field">
              <mat-label>Mois</mat-label>
              <mat-select [(ngModel)]="selectedMonth">
                <mat-option *ngFor="let month of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" [value]="month">{{ month }}</mat-option>
              </mat-select>
            </mat-form-field>
          
            <!-- Sélecteur Employé -->
            <mat-form-field appearance="outline" class="custom-mat-field">
              <mat-label>Employé</mat-label>
              <mat-select [(ngModel)]="selectedEmployeeId">
                <mat-option *ngFor="let employe of employes" [value]="employe.id">
                  {{ employe.nom }} {{ employe.prenom }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          
            <!-- Bouton de recherche -->
            <button mat-raised-button class="search-button" (click)="searchCalendar()">Rechercher</button>
          </div>
          
          <!-- Conteneur du calendrier -->
          <div class="calendar-container bg-white" >
            <full-calendar #calendar [options]="calendarOptions"></full-calendar>
          </div>
          



          
          
    </div>
</div>
  </div>
  




















  
  


